

.question-section {
    width: 80%;
    position: relative;
    color: black;
    margin: auto;
}

.question-count {
    margin-bottom: 20px;
}

.question-count span {
    font-size: 28px;
}

.question-text {
    margin-bottom: 12px;
}

.timer-text {
    background: rgb(230, 153, 12);
    padding: 15px;
    margin-top: 20px;
    margin-right: 20px;
    border: 5px solid rgb(255, 189, 67);
    border-radius: 15px;
    text-align: center;
}

.answer-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}
.correct {
    background-color: #2f922f;
}

.incorrect {
    background-color: #ff3333;
}

.score-section {
    font-size: 24px;
    text-align: center;
    line-height: 500px;
}
.exam.body{
    background-color: #7cc6fe;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.score-section{
    color: black;
}