.sumbit{
    margin-top: 20px;
    padding-left: 40%;
}

.sumbit>label{
    display: flex;
    color: white;
}
.tbody{
    height: 100px;
}
.predic{
    width: 80%;
    margin: auto;
    margin-bottom: 450px;
    color: white;
}